<div class="cards">
  <div>
    <img [src]="itemImageUrl" alt="serie 1">
    <h3>Peaky Blinders</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="primary">see more...</button>
  </div>

  <div>
    <img [src]="itemImageUrl2" alt="serie 1">
    <h3>The Punisher</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="warn">see more...</button>
  </div>

  <div>
    <img [src]="itemImageUrl3" alt="serie 1">
    <h3>How to sell drugs online</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="primary">see more...</button>
  </div>

  <div>
    <img [src]="itemImageUrl4" alt="serie 1">
    <h3>Breaking Bad</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="primary">see more...</button>
  </div>

  <div>
    <img [src]="itemImageUrl5" alt="serie 1">
    <h3>Chernobyl</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="warn">see more...</button>
  </div>

  <div>
    <img [src]="itemImageUrl6" alt="serie 1">
    <h3>Peaky Blinders</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, amet.
    </p>
    <button mat-raised-button color="primary">see more...</button>
  </div>
</div>
